.back {
	margin-top: 30px;
}

.back a {
	color: #005EA5;
	margin-top: 100px;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px solid #005EA5;
}

.payment-summary {
	border: 10px solid #DEE0E2;;
	background-color: #F8F8F8;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.change-selection a {
	color: #005EA5;
	margin-top: 30px;
}


.payment-summary h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 30px;
}

.payment-info {
	font-weight: 700;
}
.payment-amount {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 10px;
	margin-top: 0px;
}


.payment-confirmed {
	background-color: #28A197;
	color: white;
	padding: 30px;
	margin-bottom: 10px;
	margin-top: 30px;
	text-align: center;
}

.payment-confirmed h1 {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 30px;
	margin-top: 30px;
}

.payment-confirmed p {
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 15px;
	margin-top: 10px;
	margin-bottom:15px;
}

.payment-confirmed img {
	padding-right: 15px;
}

.payment-confirmed td {
	color: white;
	border-bottom-color: white;
	font-weight: 700;
}

.payment-type-intro {
	max-width: 100%;
	color: #6F777B;
}

#security-number {
	width: 100px;
}

table td {
	font-size: 19px;
	font-weight: 300;
}

.form-label-bold {
	font-size: 19px;
	margin-bottom: 5px;
}

#building-and-street {
	margin-bottom: 10px;
}

#postcode {
	width: 100px;
}

.barcode {
	padding-top: 30px;
	padding-bottom: 30px;
}

.barcode img {
	padding: 30px;
	border: 1px solid gray;
}

.print-download img{
	max-width: 20px;
	padding-right: 10px;
	padding-top: 15px;
}

.card-image img {
	max-height: 40px;
	padding-top: 15px;
	float: left;
}

.form-group button {
	margin-top: 30px;
}

.DD-terms-conditions {
	max-width: 66%;
	font-size: 16px;
	color: #6F777B;
	margin-top: 30px;
}

.DD-terms-conditions a {
	text-decoration: underline;
	color: #005EA5; 
}

.dd-images img {
	padding-right: 15px;
	margin-bottom: 15px;
}

.payment-summary-small {
	border: 10px solid #DEE0E2;
	background-color: #F8F8F8;
	padding: 15px;
	margin-top: 30px;
	// position: -webkit-sticky;
}


.payment-summary-small h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 30px;
}


.sticky {
    position: fixed;
    width: 250px;
    // width: 33%;
    // left: 0;
    top: 0;
    z-index: 100;
    margin-top: 30px;

}

.inline h2 {
	font-weight: 700;
	font-size: bold;
	margin-bottom: 10px;
}

.check-details h2 {
	font-size: 19px
}

.check-details p {
	font-size: 24px;
	font-weight: bold;
}

@media only screen and (max-width : 720px) {

.sticky {
    position: static;
    // width: 85%;
    // margin-top: 30px;
    // clear: both;
    // width: 33%;
    // left: 0;
    // top: 0;
    // margin: 15px;
    // z-index: 100;
}

.payment-summary-small {
	position: static;
	clear: both;
	margin-right: 15px;
}

}

@media only screen and (max-width : 480px) {

.sticky {
    position: static;
    // width: 85%;
    // margin-top: 30px;
    // clear: both;
    // width: 33%;
    // left: 0;
    // top: 0;
    // margin: 15px;
    // z-index: 100;
}


}

// PayPal pages

