.back {
	margin-top: 30px;
}

.back a {
	color: #005EA5;
	margin-top: 100px;
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px solid #005EA5;
}

.purchase-details {
	border: 1px solid #BFC1C3;
	background-color: #F8F8F8;
	padding: 30px;
	margin-bottom: 30px;
}

.change-selection a {
	color: #005EA5;
	margin-top: 30px;
}


.purchase-details h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 30px;
}

.purchase-details-small h2 {
	font-size: 24px;
	font-weight: 700;
	padding-bottom: 30px;
}

.purchase-details-small {
	// border: 1px solid black;
	background-color: #eeeeee;
	padding: 15px;
	position: fixed;
}

.payment-confirmed {
	background-color: #00823B;
	color: white;
	padding: 30px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.payment-confirmed h1 {
	font-size: 36px;
	font-weight: 700;
	padding-bottom: 30px;
}
.payment-confirmed img {
	padding-right: 15px;
}

.payment-confirmed td {
	color: white;
	border-bottom-color: white;
	font-weight: 700;
}

#security-number {
	width: 100px;
}

table td {
	font-size: 19px;
	font-weight: 700;
}

.form-label-bold {
	font-size: 19px;
	margin-bottom: 5px;
}

#building-and-street {
	margin-bottom: 10px;
}

#postcode {
	width: 100px;
}

.barcode {
	padding-top: 30px;
	padding-bottom: 30px;
}

.barcode img {
	padding: 30px;
	border: 1px solid gray;
}

.print-download img{
	max-width: 20px;
	padding-right: 10px;
	padding-top: 15px;
}

.card-image img {
	max-height: 40px;
	padding-top: 15px;
	float: left;
}

.form-group button {
	margin-top: 30px;
}

// PayPal pages

