{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="back">
		<a href="#">&#9664; Back</a>
	</div>

	<h1 class="heading-xlarge">Make your payment</h1>

		<div class="purchase-details">
			<h2>Payment summary</h2>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Payment of:</td>
			        <td> {{ flow }} </td>
			      </tr>
			      <tr>
			        <td>Payment amount:</td>
			        <td> {{ amount }} </td>
			      </tr>
			    </tbody>
			  </table>
		</div>

  <h2 class="heading-large">Choose payment method</h2>
  	<form class="radio-nav">
		<div class="form-group">
		<label class="block-label" for="radio-1">
		    <input id="radio-1" type="radio" name="radio-group" value="card-payment">
		    Credit or Debit card
		</label>
		<label class="block-label" for="radio-3">
		    <input id="radio-3" type="radio" name="radio-group" value="direct-debit-payment-1">
		    Direct debit
	  	</label>
	  	<label class="block-label" for="radio-4">
		    <input id="radio-4" type="radio" name="radio-group" value="paypal-payment">
		    PayPal
	  	</label>
	  	<label class="block-label" for="radio-2">
		    <input id="radio-2" type="radio" name="radio-group" value="cash-payment">
		    Cash (via PayPoint)
		</label>
		<div class="form-group">
	 		<button class="button">Continue</button>
	 	</div>
	 </div>
	</form>

    </div>





</main>

{{/content}}

{{/layout}}
