{{<layout}}

{{$pageTitle}}
	Proceed to payment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

	<h1 class="heading-xlarge">Your payment details</h1>

	<div class="grid-row">
	<div class="column-half">
		<div class="form-group">
			<label class="form-label-bold" for="card-security-number">
		    Reference number
		    <span class="form-hint">For example, QQ 12 34 56C.</span>
		  	</label>
		  	<input class="form-control" id="ref-number" name="ref-number" type="text">
		</div>

		<div class="form-group">
			<label class="form-label-bold" for="card-number">
		    Amount to pay
		  	</label><span class="poundsign">£</span>
		  	<input class="form-control" id="amount" type="text">
		</div>
	</div>
	</div>

	<!-- <h3 class="heading-medium">The following payment methods are accepted:</h3>
			<ul>
				<li><p class="font-xsmall"> Credit and debit cards – Mastercard, Visa, Electron, Maestro and Delta. </p></li>
				<li><p class="font-xsmall"> Cash payments are accepted via PayPoint </p></li>
			<ul> -->


	 <div class="form-group">
	 			<a href="benefit-choose-payment"><button class="button">Continue</button></a>
	 </div>



</main>

{{/content}}

{{/layout}}
