{{<layout}}

{{$pageTitle}}
  GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
 
<div class="grid-row">
<div class="column-two-thirds">
  <h2 class="heading-large">Payment cancelled</h2>

    <p class="lede">
        You've cancelled this payment. No money was taken from your account.</p>

    <p><a href="borchester-permit-choose-payment">Try paying by card again</a></p>
    <p>or</p>
    <p><a href="borchester-permit-choose-payment">Go back to the service</a></p>

       
   </div>
</main>

{{/content}}

{{/layout}}
