
<html>
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icon.png" />

    <title>Welcome | Borchester City Council</title>
    <!-- <link rel="stylesheet" href="/static/vendor/roboto-slab-fontface/roboto-slab-fontface.css">
    <link rel="stylesheet" href="/static/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/public/stylesheets/borchester.css">
    

  </head>
  <body>
    <div class="header">
      <nav class="top-bar">
          <div class="name">
            <h1> Borchester City Council </h1>
          </div>
        <section class="top-bar-section">
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="/notices">Notices</a></li>
            <li><a href="#">Votes and debates</a></li>
            <li><a href="#">Your councillors</a></li>
            <li><a href="#">Buses and trams</a></li>
            <li><a href="#">Data</a></li>
          </ul>
        </section>
      </nav>
    </div>

<div class="wrapper fullscreen">
  <div class="row">
    <div class="column-half">
      <h2>Pay your council tax</h2>
        <div class="column-full">
        <div class="form-group">
          <label class="form-label-bold" for="full-name">
            Account reference number
            <span class="form-hint">This number can be found on the letter you received</span>
            </label>
            <input class="form-control" id="full-name" name="full-name" type="text">
        </div>
        <div class="form-group">
            <label class="form-label-bold" for="card-number">
              Amount to pay
              </label><span class="poundsign">£</span>
              <input class="form-control" id="amount" type="text">
          </div>
        <div class="row">
          <div class="column-half">
            <div class="form-group">
                <a href="borchester-council-tax-service-before"><button class="button">Continue</button></a>
              </div>
           </div>
        </div>
        </div>
    </div>
</div>
</div>
<div class="footer">
        
</div>
</body>

</html>