{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Make your payment</h1>

		<div class="purchase-details">
			<h2>Your purchase details</h2>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Product</td>
			        <td> {{ flow }}</td>
			      </tr>
			      <tr>
			        <td>Amount</td>
			        <td> {{ amount }}</td>
			      </tr>
			      <tr>
			       <td>Payment number</td>
			        <td>20150408-152006</td>
			      </tr>
			    </tbody>
			  </table>
		</div>

  <h2 class="heading-large">Card information</h2>

	<div class="form-group">
		<label class="form-label-bold" for="full-name">
	    Full name
	    <span class="form-hint">As it appears on card</span>
	  	</label>
	  	<input class="form-control" id="full-name" type="text">
	</div>
	<div class="form-group">
		<label class="form-label-bold" for="card-number">
	    Card number
	  	</label>
	  	<input class="form-control" id="card-number" type="text">
	</div>
	<div class="form-group">
		<label class="form-label-bold" for="card-security-number">
	    Card security code
	    <span class="form-hint">The three digit code at the back of your card</span>
	  	</label>
	  	<input class="form-control" id="security-number" type="number" pattern="[0-9]*" min="0" max="999">
	  	<img src="images/card-security-code.png">
	 </div>


	 <div class="form-group">
      <fieldset>
        <legend class="form-label-bold">Expiration date</legend>

        <div class="form-date">

          <p class="form-hint">For example, 07/17</p>

          <div class="form-group form-group-month">
            <label for="dob-month">Month</label>
            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>

          <div class="form-group form-group-month">
            <label for="dob-year">Year</label>
            <input class="form-control" id="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
          </div>
        </div>

      </fieldset>
    </div>

	 <div class="form-group">
	 	<button class="button">Make payment</button>
	 </div>



</main>

{{/content}}

{{/layout}}
