{{<layout}}

{{$pageTitle}}
	Proceed to payment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Before you start</h1>
	<div class="grid-row">
		<div class="column-two-thirds">
			<p>Only use this service to repay what you owe in full.</p>
			<p>If you make a part payment using this service the Department for Work and Pensions may still try to recover the money through a debt collection agency or by taking it directly from your wages or benefits.</p>
			<p>Contact DWP Debt Management on 0345 850 0293 to discuss your options if you can't repay in full.</p>
		</div>
	</div>
	 <div class="form-group">
	 			<a href="benefit-enter-details"><button class="button">I understand – continue</button></a>
	 </div>



</main>

{{/content}}

{{/layout}}
