{{<layout}}

{{$pageTitle}}
	Proceed to payment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Proceed to payment</h1>

		<div class="payment-summary">
			<h2>Payment summary</h2>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Description:</td>
			        <td>Payment to DWP</td>
			      </tr>
			      <tr>
			        <td>Amount to pay:</td>
			        <td>£200</td>
			      </tr>
			    </tbody>
			  </table>
		</div>
		<h3 class="heading-medium">The following payment methods are accepted:</h3>
			<ul>
				<li><p class="font-xsmall"> Credit and debit cards – Mastercard, Visa, Electron, Maestro and Delta. </p></li>
				<li><p class="font-xsmall"> Cash payments are accepted via PayPoint </p></li>
			<ul>


	 <div class="form-group">
	 			<a href="benefit-choose-payment"><button class="button">Proceed to payment</button></a>
	 </div>



</main>

{{/content}}

{{/layout}}
