<html>
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icon.png" />

    <title>PayPoint Barcode</title>
    <!-- <link rel="stylesheet" href="/static/vendor/roboto-slab-fontface/roboto-slab-fontface.css">
    <link rel="stylesheet" href="/static/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/public/stylesheets/borchester.css">
    

  </head>
  <body>	
		
	<div class="grid-row">
  <div class="logo-paypoint">
		<img src="/public/images/paypoint-logo.png">
  </div>

	   <div class="barcode">
				<img src="/public/images/barcode-paypoint.png">
        <p class="barcode">Show this barcode to the shopkeeper who will scan it. You'll get a receipt from the shopkeeper when you pay.</p>

		</div>
			
	</div>
	
</body>

</html>
