{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-confirmed">
			<h1><img src="/public/images/tick-icon.png">Your Blue Badge Application has been successful – pending payment</h1>
			 <h3>Reference number:</h3>
			 <p>147836</p>
		</div>

		<div class="grid-row">
    		<div class="column-two-thirds">
			<h2 class="heading-large">What happens next</h2>
			<p>You should pay the £10 application fee at a PayPoint location as soon as possible.</p>

			<p>Warwickshire County Council will send you your Blue Badge within 14 days of receiving payment.</p>

			<p>We have e-mailed confirmation (including your reference number) to xxx@xxx.com</p>

			<h2 class="heading-medium">Additional Fast track services for Blue Badge holders</h2>
			<ul>
			<li><a href="#" target="_blank" rel="external">A disabled parking bay (outside your house)</a></li>
			<li><a href="#" target="_blank" rel="external">Concessionary bus travel</a></li>
			</ul>

			</div>
		</div>

	<div class="finish-and-return">
		<div class="form-group">
	 		<a href="http://bbis-oix.azurewebsites.net/index.html"><button class="button">Exit</button></a>
	 	</div>
	</div>


</main>

{{/content}}

{{/layout}}
