{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-confirmed">
			<h1><img src="/public/images/tick-icon.png">Your payment of Blue Badge Application fee was successful</h1>
			 <h3>Reference number:</h3>
			 <p>147836</p>
		</div>

		<div class="grid-row">
    	<div class="column-two-thirds">
			<h2 class="heading-large">What happens next</h2>
			<p>Warwickshire County Council will send you your Blue Badge in the next 14 days. We have e-mailed you contact details for Warwickshire County Council.</p>

			<h3 class="heading-medium">Fast track services for Blue Badge holders</h3>
			<p>The following services are now available to you from Warwickshire County Council as fast track applications.<p>
				<ul>
					<li><a href="#">A disabled parking bay (outside your house)</a></li>
					<li><a href="#">Concessionary bus travel</a></li>
				</ul>
			<h3 class="heading-medium">Payment summary</h3>
			<table>
			    <tbody>
			      <tr>
			        <td>Payment of:</td>
			        <td>Blue Badge Application</td>
			      </tr>
			      <tr>
			        <td>Amount:</td>
			        <td>£10</td>
			      </tr>
			    </tbody>

			  </table>
		</div>
		</div>

	<div class="finish-and-return">
		<div class="form-group">
	 		<a href="https://www.gov.uk/"><button class="button">Return to GOV.UK homepage</button></a>
	 	</div>
	</div>

</main>

{{/content}}

{{/layout}}
