{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">	
	<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>		
	<div class="grid-row">
	  <div class="column-two-thirds">
	   <h1 class="heading-xlarge">This is your barcode</h1>
	    <div class="barcode">
				<img src="/public/images/barcode-paypoint.png">
		</div>
			<div class="paypoint information">
		    	<p>This has been sent to the email address and mobile phone number you gave on the previous page.</p>
		    	<p>Take this barcode to a PayPoint location to complete your transaction.</p>
				<p>
				You will be notified when your payment has been completed.</p>	
			</div>

				<div class="print-download-section">

					<ul class="print-download">
					<li><a href="#"><img src="/public/images/print-icon.png">Print the barcode now</a></li>
					<li><a href="#"><img src="/public/images/save-icon.png">Download a PDF of the barcode</a></li>
					</ul>
				</div>
		</div>
		
		<div class="column-third">
			<div class="payment-summary-small">
				<h2>Payment summary</h2>

			      <p class="payment-info"> Blue Badge Application to Warwickshire County Council </p>
			       <h3>Amount to pay:</h3>
			       <p class="payment-amount"> £10 </p>
			</div>
		</div>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="finish-and-return">
				<div class="form-group">
	 			<a href="blue-badge-cash-payment-complete"><button class="button">Next</button></a>
	 			</div>
			</div>
	 	</div>
	</div>

</main>

{{/content}}

{{/layout}}
