{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-confirmed">
			<h1><img src="/public/images/tick-icon.png">Your payment was successful</h1>
			 <h3>Reference number:</h3>
			 <p>147836</p>
		</div>

		<div class="grid-row">
    		<div class="column-two-thirds">
			<h2 class="heading-large">What happens next</h2>
			<p>We will email you a receipt shortly.</p>
			<table>
			    <tbody>
			      <tr>
			        <td>Payment of:</td>
			        <td>Parking permit renewal to Borchester City Council</td>
			      </tr>
			      <tr>
			        <td>Amount paid:</td>
			        <td>£120.00</td>
			      </tr>
			    </tbody>

			  </table>
		</div>
		</div>

	<div class="finish-and-return">
		<div class="form-group">
	 		<a href="borchester-home"><button class="button">Finish</button></a>
	 	</div>
	</div>

</main>

{{/content}}

{{/layout}}
