{{<layout}}

{{$pageTitle}}
  GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
 
<div class="grid-row">
<div class="column-two-thirds">
  <h2 class="heading-large">Your payment could not be authorised</h2>

    <p class="lede">
        No money was taken from your account. Contact your bank for more detail.</p>

    <p><a href="borchester-permit-choose-payment">Try paying again using another card</a></p>
    <p><a href="borchester-permit-choose-payment">Go back to the service</a></p>

       
   </div>
</main>

{{/content}}

{{/layout}}
