{{<layout}}

{{$pageTitle}}
  GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
 
<div class="grid-row">
<div class="column-two-thirds">
  <h2 class="heading-large">Your payment cannot be authorised</h2>

    <p class="lede">
         Contact your bank for more details. No money has been taken from your account.</p>

    <p class="lede-link"><a href="borchester-permit-choose-payment">
    	Go back to example name service</a></p> 
    <p>You can try to pay again using another card.</p>       
   </div>
</main>

{{/content}}

{{/layout}}
