{{<layout}}

{{$pageTitle}}
	Proceed to payment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>
	<h2 class="section-number">Section 5 of 5</h2>
	<h1 class="heading-large service-before-title">Proceed to payment</h1>

		<div class="payment-summary">
			<h2>Payment summary</h2>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Payment of:</td>
			        <td>Parking permit renewal to Borchester City Council</td>
			      </tr>
			      <tr>
			        <td>Amount to pay:</td>
			        <td>£120.00</td>
			      </tr>
			    </tbody>
			  </table>
		</div>


	 <div class="form-group">
	 			<a href="borchester-permit-choose-payment"><button class="button">Proceed to payment</button></a>
	 </div>



</main>

{{/content}}

{{/layout}}
