
<html>
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icon.png" />

    <title>Welcome | Borchester City Council</title>
    <!-- <link rel="stylesheet" href="/static/vendor/roboto-slab-fontface/roboto-slab-fontface.css">
    <link rel="stylesheet" href="/static/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/public/stylesheets/borchester.css">
    

  </head>
  <body>
    <div class="header">
      <nav class="top-bar">
          <div class="name">
            <h1> Borchester City Council </h1>
          </div>
        <section class="top-bar-section">
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="/notices">Notices</a></li>
            <li><a href="#">Votes and debates</a></li>
            <li><a href="#">Your councillors</a></li>
            <li><a href="#">Buses and trams</a></li>
            <li><a href="#">Data</a></li>
          </ul>
        </section>
      </nav>
    </div>

<div class="wrapper fullscreen">
                
  <div class="row">
    <div id="news" class="column-two-thirds">          
              <img src="/public/images/borchester-image.jpg"/>         
    </div>
     <div id="news" class="column-one-third">          
              <h2> Council builds 250 new homes so far this year </h2>
              <p> Borchester City Council is committed to providing quality housing for all residents and aims to complete a further 400 homes by the end of 2015. </p>         
    </div>
  </div>

  <div class="row">
    <h3>Popular services</h3>
    <div class="column-half">
      <div class="services">
      <ul>
        <li>
          <a href="/borchester-parking-permit">
            Renew a parking permit
          </a>
        </li>
        <li>
          <a href="/borchester-penalty-fine">
            Pay a parking penalty charge notice
          </a>
        </li>
        <li>
          <a href="/borchester-council-tax">
            Pay council tax
          </a>
        </li>
        <li>
          <a href="#">
            Apply for planning permission
          </a>
        </li>
        </ul>
      </div>
      </div>
    <div class="column-half">
      <div class="services">
      <ul>
        <li>
          <a href="/parking-permit">
            Report noise
          </a>
        </li>
        <li>
          <a href="#">
            Find housing
          </a>
        </li>
        <li>
          <a href="#">
            Browse all services
          </a>
        </li>
        <li>
          <a href="#">
            Services near by
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>

  <div class="row">
    <div class="column-all">
      <h3>Recent notices</h3>
      <div class="recent-notices">
      <ul> 
          <li><a href="/notices">Licence to put tables or chairs on the pavement. at 100-102 High Street Manchester M4 1HP</a></li>
        
          <li><a href="/notices">Licence to put tables or chairs on the pavement. at 23 Copperas Street Manchester M4 1HS</a></li>
        
          <li><a href="/notices">Licence to put tables or chairs on the pavement. at 100-102 High Street Manchester M4 1HP</a></li>
        
      </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column-all">
      <h3>Recent votes and debates</h3>
      <div class="recent-notices">

      <ul>
        <li><a href="#">Delivery Director, Housing Management</a></li>
        <li><a href="#">Licensing Sub-Committee</a></li>
        <li><a href="#">Cabinet Joint Area Forum / AGM</a></li>
      </ul>
    </div>
   </div>
  </div>
</div>


      <div class="footer">
        
      </div>
</body>

</html>