<html>
  <head>
    <meta charset="utf-8">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icon.png" />

    <title>Welcome | Borchester City Council</title>
    <!-- <link rel="stylesheet" href="/static/vendor/roboto-slab-fontface/roboto-slab-fontface.css">
    <link rel="stylesheet" href="/static/vendor/foundation/css/foundation.css">
    <link rel="stylesheet" href="/static/vendor/fontawesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/public/stylesheets/borchester.css">
    

  </head>
  <body>
    <div class="header">
      <nav class="top-bar">
          <div class="name">
            <h1> Borchester City Council </h1>
          </div>
        <!-- <section class="top-bar-section">
          <ul>
            <li><a href="#">Services</a></li>
            <li><a href="/notices">Notices</a></li>
            <li><a href="#">Votes and debates</a></li>
            <li><a href="#">Your councillors</a></li>
            <li><a href="#">Buses and trams</a></li>
            <li><a href="#">Data</a></li>
          </ul>
        </section> -->
      </nav>
    </div>

<div class="wrapper fullscreen">

		<div class="payment-confirmed">
			<h1><img class="tick-icon" src="/public/images/tick-icon.png">Your council tax has been paid</h1>
			 <h3>Reference number:</h3>
			 <p>147836</p>
		</div>

		<div class="grid-row">
    		<div class="column-two-thirds">
    		<h3>What happens next</h3>
    		<div class="confirmed-details">
			<p>We will email you a receipt shortly.</p>
			        <h4>Payment of:</h4>
			        <p>Council tax to Borchester City Council</p>
			      <h4>Amount paid:</h4>
			        <p>£121.00</p>
		
			</div>
			</div>
		</div>

	<div class="finish-and-return">
		<div class="form-group">
	 		<a href="borchester-home"><button class="button">Finish</button></a>
	 	</div>
	</div>
	</div>
	<div class="footer">
        
    </div>
	
</body>

</html>
