{{<layout}}

{{$pageTitle}}
  GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
 
<div class="grid-row">
<div class="column-two-thirds">
  <h2 class="heading-large">You've cancelled this payment</h2>

    <p class="lede">
        No money was taken from your account.</p>

    <p><a href="borchester-permit-choose-payment">Try again using another payment method</a></p>
    <p><a href="borchester-home">Go back to council homepage</a></p>


       
   </div>
</main>

{{/content}}

{{/layout}}
