{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>
<div class="grid-row">
    <div class="column-two-thirds">
	  <h1 class="heading-xlarge">Check your details are correct before confirming</h1>
	  <div class="check-details">

	  	<table>
		    <tbody>
		      <tr>
		        <td>Name on card:</td>
		        <td class="table-info">{{full-name}}</td>
		      </tr>
		      <tr>
		        <td>Card number:</td>
		        <td class="table-info">************6256</td>
		      </tr>
		      <tr>
		       <td>Expiration date:</td>
		        <td class="table-info">{{exp-month}}/{{exp-year}}</td>
		      </tr>
		      <tr>
		        <td>Billing address:</td>
		        <td class="table-info">{{building-and-street}} {{town-or-city}}, {{postcode}}</td>
		      </tr>
		       <tr>
		        <td>Email address:</td>
		        <td class="table-info">test1@gmail.com</td>
		      </tr>
		      <tr>
		        <td>Payment of:</td>
		        <td class="table-info">Council tax to Borchester City Council</td>
		      </tr>
		      <tr>
		        <td>Amount to pay:</td>
		        <td class="table-info">£121.00</td>
		      </tr>
		    </tbody>
  		</table>	
		</div>
	</div>
</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="form-group">
		 			<a href=" borchester-council-tax-card-payment-confirmed "><button class="button">Confirm payment</button></a>
		 		</div>
		 		<div class="back">
				<a href="#">Cancel</a>
			</div>
		 </div>
	 </div>


</main>

{{/content}}

{{/layout}}
