{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-confirmed">
			<h1><img src="/public/images/tick-icon.png">Your payment of online debt service - application fee was successful</h1>
			 <h3>Reference number:</h3>
			 <p>147836</p>
		</div>

		<div class="grid-row">
    		<div class="column-two-thirds">
			<h2 class="heading-large">What happens next</h2>
			<p>We will email you a receipt shortly.</p>
			<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Payment of:</td>
			        <td>{{ flow }}</td>
			      </tr>
			      <tr>
			        <td>Amount:</td>
			        <td>{{ amount }}</td>
			      </tr>
			    </tbody>

			  </table>
		</div>
		</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="form-group">
	 			<a href="https://www.gov.uk/"><button class="button">Finish and return to GOV.UK</button></a>
	 		</div>
	 	</div>
	</div>



</main>

{{/content}}

{{/layout}}
