{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">	
	<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

	<h1 class="heading-xlarge">Pay by cash via PayPoint</h1>

	<div class="paypoint-payment-summary">
			<h2>Your barcode has been generated</h2>
		<div class="grid-row">
	    <div class="column-two-thirds">

			<div class="paypoint information">
				<p>The barcode has been sent to the email address and phone number you gave on the previous page.
				</p>
				<p> Take this barcode to a PayPoint location to complete your transaction. You can find PayPoint locations on most high streets throughout the UK.
				</p>
				<p> <a href="https://www.paypoint.com/en-gb" rel="external">Find a PayPoint location
				</a></p>
			<div class="barcode">
				<img src="/public/images/barcode-paypoint.png">
			</div>
			</div>

				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Payment of:</td>
			        <td> {{ flow }} </td>
			      </tr>
			      <tr>
			        <td>Amount:</td>
			        <td> {{ amount }}</td>
			      </tr>
			    </tbody>
			  </table>
		</div>
		<div class="column-two-thirds print-download-section">

				<ul class="print-download">
				<li><a href="#"><img src="/public/images/print-icon.png">Print out the barcode now</a></li>
				<li><a href="#"><img src="/public/images/save-icon.png">Download PDF</a></li>
				</ul>
			</div>
			<div class="column-one-third">
			<img src="/public/images/paypoint-logo.png">

	    	</div>
	</div>
	</div>
	<div class="column-two-thirds">

		 <div class="form-group">
	 			<a href="https://www.gov.uk/"><button class="button">Finished</button></a>
	 		</div>
	 </div>

</main>

{{/content}}

{{/layout}}
