{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="back">
		<a href="#">&#9664; Back</a>
	</div>

	<h1 class="heading-xlarge">Pay by cash via PayPoint</h1>

		<div class="paypoint-payment-summary">
			<h2>Your purchase details</h2>
	<div class="grid-row">
	    <div class="column-two-thirds">

			<div class="paypoint information">
				<p> Take this barcode to anywhere you see the PayPoint sign.
				</p>
			<div class="barcode">
				<img src="/public/images/barcode-paypoint.png">
			</div>
			</div>

				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Product:</td>
			        <td> {{ flow }} </td>
			      </tr>
			      <tr>
			        <td>Amount:</td>
			        <td> {{#render_money}}{{amount}}{{/render_money}} </td>
			      </tr>
			      <!-- <tr>
			       <td>Payment number</td>
			        <td>20150408-152006</td>
			      </tr> -->
			    </tbody>
			  </table>
		</div>
		<div class="column-two-thirds">

				<ul class="print-download">
				<li><a href="#"><img src="/public/images/print-icon.png">Print it out</a></li>
				<li><a href="#"><img src="/public/images/save-icon.png">Download it to your phone </a></li>
				</ul>
			</div>
		<div class="column-one-third">
			<img src="/public/images/paypoint-logo.png">

	    </div>
	</div>
	</div>
	</div>




</main>

{{/content}}

{{/layout}}
