{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

	<h1 class="heading-xlarge">Pay by cash via PayPoint</h1>

		<div class="payment-summary">
			<h2>Payment summary</h2>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Payment of:</td>
			        <td> {{ flow }} </td>
			      </tr>
			      <tr>
			        <td>Amount:</td>
			        <td> {{ amount }}</td>
			      </tr>
			      <!-- <tr>
			       <td>Payment number</td>
			        <td>20150408-152006</td>
			      </tr> -->
			    </tbody>
			  </table>
		</div>

  <div class="grid-row">
	    <div class="column-two-thirds">
	    <h2 class="heading-paypoint">How to use PayPoint</h2>
			<div class="paypoint information">
				<p> To pay via PayPoint you need to generate a barcode and bring it with you to a PayPoint location – this is anywhere you see the PayPoint sign. The shopkeeper will then scan your barcode.</p>

				<p> You can either print the barcode or show it on your smartphone once generated.
				</p>
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="email-address">Email address<span class="form-hint">We will use this to send you the bardcode and confirm the payment with you</span>
			  	</label>
			  	<input class="form-control" id="email-address" type="text">
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="phone-number">Phone number<span class="form-hint">We will send the barcode to this number</span>
			  	</label>
			  	<input class="form-control" id="phone-number" type="text">
			</div>
		</div>

	    <div class="column-one-third">
			<img src="/public/images/paypoint-logo.png">

	    </div>

	</div>
	<div class="grid-row">
	<div class="column-two-thirds">
		<div class="form-group">
	 			<a href="cash-payment-2"><button class="button">Generate barcode</button></a>
	 		</div>
	 </div>
	 </div>




</main>

{{/content}}

{{/layout}}
