{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

  <div class="grid-row">
	  <div class="column-two-thirds">
	   <h1 class="heading-xlarge">Pay by cash using PayPoint</h1>
<!-- 	    <h2 class="heading-paypoint">What is PayPoint</h2>
 -->			<div class="paypoint information">
				<p> You can pay by cash at any store showing the PayPoint sign. There are over 27,000 in the UK. </p>
				<img src="/public/images/paypoint-logo.png">				
				
				<details class="find-paypoint-location">
					<summary aria-controls="details-content-0" tabindex="0">
					<span class="summary"> Find your nearest PayPoint store </span>
					</summary>
					<div class="paypoint-locater">
						<div class="form-group">
						<label class="form-label-bold" for="phone-number">Enter a postcode </label>
			  			<input class="form-control" id="phone-number" type="text">
						</div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.8084580178993!2d-1.8949860500000293!3d52.48260370000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bc8fbd3ad007%3A0x50d7a574523a5a37!2sBirmingham%2C+West+Midlands+B4+6FD%2C+UK!5e0!3m2!1sen!2sus!4v1435137518259" width="600" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</details>

	    	<h2 class="heading-paypoint">How to use PayPoint</h2>

				<p> We will generate a unique barcode for your payment. You can then take the barcode to a PayPoint store and make your payment.  </p> 
				<p>
				You can print the barcode or choose to have it sent to your email address or mobile phone. 
				</p>
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="email-address">Email address<span class="form-hint">Have the barcode sent to this email address</span>
			  	</label>
			  	<input class="form-control" id="email-address" type="text">
			</div>
			<div class="form-group">
				<label class="form-label-bold" for="phone-number">Mobile phone number<span class="form-hint">Have the barcode sent to this mobile phone number</span>
			  	</label>
			  	<input class="form-control" id="phone-number" type="text">
			</div>
		</div>

	    <div class="column-third">
			<div class="payment-summary-small">
				<h2>Payment summary</h2>

			      <p class="payment-info"> {{ flow }}</p>
			       <h3>Amount to pay:</h3>
			       <p class="payment-amount"> {{ amount }}</p>
			</div>
		</div>

	</div>
	<div class="grid-row">
	<div class="column-two-thirds">
		<div class="form-group">
	 			<a href="cash-payment-2"><button class="button">Generate barcode</button></a>
	 		</div>
	 		<div class="back">
				<a href="#">Cancel</a>
			</div>
	 </div>
	 </div>




</main>

{{/content}}

{{/layout}}
