{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="back">
		<a href="#">&#9664; Back</a>
	</div>

	<h1 class="heading-xlarge">Make your payment</h1>

		<div class="purchase-details"> 
			<h2>Your purchase details</h2>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Product:</td>
			        <td>Volcano Insurance</td>
			      </tr>
			      <tr>
			        <td>Amount:</td>
			        <td>£2,500</td>
			      </tr>
			    </tbody>
			  </table>
		</div>

  <h2 class="heading-large">Choose payment method</h2>

	<div class="form-group">
			<label class="block-label" for="radio-1">
		    <input id="radio-1" type="radio" name="radio-group" value="Credit or Debit card">
		    Credit or Debit card
		  </label>
		  <label class="block-label" for="radio-2">
		    <input id="radio-2" type="radio" name="radio-group" value="Cash (via PayPoint)">
		    Cash (via PayPoint)
		  </label>
		  <label class="block-label" for="radio-3">
		    <input id="radio-3" type="radio" name="radio-group" value="Direct debit">
		    Direct debit
	  	</label>
	  	<label class="block-label" for="radio-4">
		    <input id="radio-4" type="radio" name="radio-group" value="SMS">
		    SMS
	  	</label>
	  	<label class="block-label" for="radio-5">
		    <input id="radio-5" type="radio" name="radio-group" value="Bank transfer">
		    Bank transfer
	  	</label>
	 </div>

    </div>

	 <div class="form-group">
	 	<button class="button">Continue</button>
	 </div>



</main>

{{/content}}

{{/layout}}