{{<layout}}

{{$pageTitle}}
  GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">GOV.UK Pay</h1>

      <p>
        Make it easier for citizens and businesses to pay government.
      </p>

      <p>
        If you work for a UK government department or agency you can try it now.
      </p>

      <div class="form-group">
          <a href="/register">
          	<input class="button" type="submit" value="Create an account">
          </a>	
      </div>
    </div>
  </div>
</main>

{{/content}}

{{/layout}}


