{{<layout}}

{{$pageTitle}}
  GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="grid-row">

  <div class="column-quarter">
      <div class="left-nav">
        <ul>
              <li><a href="/staff-dashboard">Homepage</a></li>
              <li><a href="#">API keys</a></li>
              <li><a href="/staff-transaction-list">Transactions</a></li>
              <li><a href="#">Account credentials</a></li>
              <li><a href="#">Change service name</a></li>
              <li><a href="#">Payment types</a></li>
              <li><a href="#">Email notifications</a></li>
        </ul>
      </div>  
      </div>

  <div class="column-two-thirds">
  <div class="intro-block-blue">

  <h1 class="heading-large">Welcome to GOV.UK Pay</h1>
  <p class="lede">
        You have created a new sandbox account. This allows you to test the features of GOV.UK Pay without taking any real payments.</p> 
  <h2 class="heading-medium">Getting Started</h2>
   <!--  <p class="lede"> Visit our <a href="https://gds-payments.gelato.io/docs/versions/1.0.0/quick-start-guide-701213f3-ff34-4eb7-a830-fd843312fae8">quick start guide</a> to see how you can test GOV.UK Pay features with this sandbox account.</p> -->

    <p class="lede"> Visit <a href="https://gds-payments.gelato.io/docs/versions/1.0.0/quick-start-guide-701213f3-ff34-4eb7-a830-fd843312fae8">our documentation</a> to see how you can use GOV.UK Pay with your service.</p>

    <!-- <p class="lede"> When you are ready to take real payments <a href="https://gds-payments.gelato.io/docs/versions/1.0.0/quick-start-guide-701213f3-ff34-4eb7-a830-fd843312fae8">please contact us</a>.</p> -->



<!--     <h2 class="heading-medium">For your information</h2>
 -->
    <!-- <p class="lede">
        This account is automatically set up to accept credit and debit
        card <a href="#">payment types</a>.</p> 
    <p class="lede">
        Payment receipt <a href="#">email notifications</a> to your users have also been automatically set-up.
    </p> -->
    
  </div>
  </div>

</div>
</main>
{{/content}}

{{/layout}}


