{{<layout}}

{{$pageTitle}}
  GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-quarter">
            <div class="left-nav">
              <ul>
                    <li><a href="/staff-dashboard">Homepage</a></li>
                    <li><a href="#">API keys</a></li>
                    <li><a href="/staff-transaction-list">Transactions</a></li>
                    <li><a href="#">Account credentials</a></li>
                    <li><a href="#">Change service name</a></li>
                    <li><a href="#">Payment types</a></li>
                    <li><a href="#">Email notifications</a></li>
              </ul>
            </div>  
    </div>

    <div class="column-three-quarters">
      <div class="grid-row padding-grid-row">
        <div class="intro-block-blue">

        <h1 class="heading-large">Welcome to GOV.UK Pay</h1>
          <p>You have created a new sandbox account. This allows you to test the features of GOV.UK Pay without taking any real payments.</p> 
        
        <h2 class="heading-medium">Get started</h2>
          <p> Make some <a href="https://gds-payments.gelato.io/docs/versions/1.0.0/quick-start-guide-701213f3-ff34-4eb7-a830-fd843312fae8">test payments</a>. These payments will populate your sandbox account and allow you to test the features of this admin tool.</p>

          <p> When you are ready to take real payments <a href="https://gds-payments.gelato.io/docs/versions/1.0.0/quick-start-guide-701213f3-ff34-4eb7-a830-fd843312fae8">get in touch with us</a>.</p>
          
          </div>
        </div>

        <div class="grid-row padding-grid-row">

          <h1 class="heading-large underline">Dashboard</h1>
            <div class="overview">
              <h2 class="heading-small staff-subheading">
              Transactions overview:
            </h2>
            <div class="column-quarter filter-fields">
          <div class="form-group">
              <div class="dropdown">
                <select name="select" class="form-control dropdown-list" id="full-name">
                  <option value="value1" selected>Today</option> 
                <option value="value2">7 days</option>
                <option value="value3">30 days</option>
                <option value="value4">6 months</option>
                <option value="value5">12 months</option>
              </select>
            </div>
          </div>
         </div>
        </div>
      </div>

    <div class="grid-row">
          <div class="column-half no-left-padding">
              <div class="dashboard-section">
              <table class="big-type-table">
                  <thead>
                    <tr>
                      <th colspan="2">In-progress payments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class='clickable-row table-colour' data-href='#'>
                      <td>0</td>
                      <td class="right-align">£0</td>
                    </tr>
                   </tbody>
              </table>

              <table class="big-type-table">
                  <thead>
                    <tr>
                      <th colspan="2">Sucessful payments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class='clickable-row table-colour-green' data-href='#'>
                      <td>0</td>
                      <td class="right-align">£0</td>
                    </tr>
                   </tbody>
              </table>


              <table class="big-type-table">
                  <thead>
                    <tr>
                      <th colspan="2">Failed payments</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class='clickable-row table-colour-red' data-href='#'>
                      <td>0</td>
                      <td class="right-align">£0</td>
                    </tr>
                   </tbody>
              </table>

              
            </div>
        
          </div>

        <div class="column-half">
            <div class="dashboard-section">
            <table class="big-type-table">
                <thead>
                  <tr>
                    <th colspan="2">Fully refunded payments</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class='clickable-row table-colour-grey' data-href='#'>
                    <td>0</td>
                    <td class="right-align">£0</td>
                  </tr>
                 </tbody>
            </table>

            <table class="big-type-table">
                <thead>
                  <tr>
                    <th colspan="2">Partially refunded payments</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class='clickable-row table-colour-grey' data-href='#'>
                    <td>0</td>
                    <td class="right-align">£0</td>
                  </tr>
                 </tbody>
            </table>
          </div>
      
        </div>
  
    </div>
  </div>
</div>

</main>
{{/content}}

{{/layout}}


