{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-confirmed">
			<h1><img src="/public/images/tick-icon.png">Direct Debit setup successful</h1>
			 <h3>Reference number:</h3>
			 <p>147836</p>
		</div>

		<div class="grid-row">
    		<div class="column-two-thirds">
			<h2 class="heading-large">What happens next</h2>
			<p>We will email you a receipt shortly. To authorise the Direct Debit payment you will need to follow the instructions in the email.</p>
			<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Product:</td>
			        <td> {{ flow }} </td>
			      </tr>
			      <tr>
			        <td>Amount to pay:</td>
			        <td> {{ amount }}</td>
			      </tr>
			    </tbody>

			  </table>
		</div>
		</div>


	 <div class="back">
		<a href="#">Go to GOV.UK homepage</a>
	</div>



</main>

{{/content}}

{{/layout}}
