{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

	<h1 class="heading-xlarge">Welcome to the payments prototype</h1>
	<!-- feel free to change this page to suit your needs -->

	<!-- <p>Payment starting points can be found below.</p> -->

	<h2 class="heading-large">Start a payment</h2>

	<form action="/service-before" method="POST">
		<div class="form-group">
			<label class="block-label" for="radio-1"><input id="radio-1" type="radio" name="service" value="volcano" checked="true"></input>Volcano insurance</label>
			<label class="block-label" for="radio-2"><input id="radio-2" type="radio" name="service" value="earthquake"></input>Earthquake insurance</label>
			<label class="block-label" for="radio-3"><input id="radio-3" type="radio" name="service" value="tsunami"></input>Tsunami insurance</label>
			<label class="block-label" for="radio-4"><input id="radio-4" type="radio" name="service" value="insolvency"></input>Insolvency Service</label>
		</div>
		<label for="amount" class='form-label'>£<input type="number" id="amount" class="form-control" name="amount" step="0.01"></input></label>

		<div class="form-group">
			<button class="button">Pay now</button>
		</div>
	</form>


	<!-- <h2 class="heading-large">Resources</h2>

	<ul class="list-bullet">
		<li>
			<a href="https://github.com/alphagov/govuk_prototype_kit/docs">
				GOV.UK kit documentation
			</a>
		</li>
		<li>
			<a href="http://govuk-elements.herokuapp.com/snippets/">
				Guide to GOV.UK elements HTML
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/service-manual">
				Service design manual
			</a>
		</li>
		<li>
			<a href="https://www.gov.uk/design-principles">
				Government Digital Service Design Principles
			</a>
		</li>
	</ul> -->

</main>

{{/content}}

{{/layout}}
