{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<style type="text/css">
{{#hide_debitcard}}		#label-debitcard { display: none; }		{{/hide_debitcard}}
{{#hide_creditcard}}	#label-creditcard { display: none; }	{{/hide_creditcard}}
{{#hide_paypal}}		#label-paypal { display: none; }		{{/hide_paypal}}
{{#hide_cash}}			#label-cash { display: none; }			{{/hide_cash}}
{{#hide_directdebit}}	#label-directdebit { display: none; }	{{/hide_directdebit}}
</style>

<main id="content" role="main">
	<div class="back">
		<a href="javascript:history.back()">&#9664; Back</a>
	</div>

<div class="grid-row">
	<div class="column-two-thirds">
	  <h1 class="heading-xlarge">Select how you want to pay</h1>
	  	<form class="radio-nav">
			<div class="form-group">
				
			<label id="label-debitcard" class="block-label" for="radio-debitcard">
			    <input id="radio-debitcard" type="radio" name="radio-group" value="benefit-debit-card-payment">
			    Debit card
			</label>
			
			<label id="label-creditcard" class="block-label" for="radio-creditcard">
			    <input id="radio-creditcard" type="radio" name="radio-group" value="benefit-credit-card-payment">
			    Credit card
			</label>
			
			<label id="label-directdebit" class="block-label" for="radio-directdebit">
			    <input id="radio-directdebit" type="radio" name="radio-group" value="benefit-direct-debit-payment-1">
			    Direct debit – one off payment
		  	</label>
			
		  	<label id="label-paypal" class="block-label" for="radio-paypal">
			    <input id="radio-paypal" type="radio" name="radio-group" value="benefit-paypal-payment-1">
			    PayPal
		  	</label>
			
		  	<label id="label-cash" class="block-label" for="radio-cash">
			    <input id="radio-cash" type="radio" name="radio-group" value="benefit-cash-payment-1">
			    Cash – at your local store
			</label>
			
			<div class="form-group">
		 		<button class="button">Continue</button>
		 	</div>
		 </div>
		</form>
	   </div>
	    <div class="column-third">

			<div class="payment-summary-small">
				<h2>Payment summary</h2>

			      <p class="payment-info">Passport renewal</p>
			       <h3>Amount to pay:</h3>
			       <p class="payment-amount"> £80.00 </p>
			</div>
		</div>
	  </div>




</main>

{{/content}}

{{/layout}}
