{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-confirmed">
			<h1><img src="/public/images/tick-icon.png">Your payment has been confirmed</h1>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			    <tr>
			        <td>Reference number:</td>
			        <td>147836</td>
			      </tr>
			      <tr>
			        <td>Product:</td>
			        <td> {{ flow }} </td>
			      </tr>
			      <tr>
			        <td>Amount:</td>
			        <td> {{ amount }}</td>
			      </tr>
			    </tbody>
			  </table>
		</div>


	 <div class="back">
		<a href="#">Go to GOV.UK homepage</a>
	</div>



</main>

{{/content}}

{{/layout}}
