{{<nongov_layout}}

{{$pageTitle}}
	PayPal payment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
<div class="grid-row">
    <img class="logo" src="/public/images/govuk-logo.png">
</div>

<div class="grid-row paypal-details">

		<div class="column-half">
		<img class="paypal-logo" src="/public/images/paypal-logo.png">
		<div class="paypal-payment-summary">
				<table>
			    <tbody>
			      <tr>
			        <td>Amount:</td>
			        <td> {{ amount }}</td>
			      </tr>
			    </tbody>
			  </table>
		</div>
		</div>
    <img class="paypal-image" src="/public/images/Paypal-2.png">
    <div class="form-group paypal-paynow">
	 			<a href="paypal-confirmed"><button class="button">Pay now</button></a>
	 </div>		  

</div>	 


	</main>

{{/content}}

{{/nongov_layout}}