{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-confirmed">
			<h1><img src="/public/images/tick-icon.png">Your payment has been successful</h1>
			 <h3>Reference number:</h3>
			 <p>43236WPGV</p>
		</div>

		<div class="grid-row">
    	<div class="column-two-thirds">
			<h2 class="heading-large">What happens next</h2>
			<p>We will email you a receipt shortly.</p>
			<p>If you have not paid the full amount you will be contacted by Department for Work and Pensions Debt Management.</p>

			<h3 class="heading-medium">Payment summary</h3>
			<table>
			    <tbody>
			      <tr>
			        <td>Description:</td>
			        <td>Partner on the 5 or 10 year route visa</td>
			      </tr>
			      <tr>
			        <td>Amount paid:</td>
			        <td>£1415.00</td>
			      </tr>
			    </tbody>

			  </table>
		</div>
		</div>

	<div class="finish-and-return">
		<div class="form-group">
	 		<a href="radiant-plains-3721.herokuapp.com/declaration.html/"><button class="button">Continue</button></a>
	 	</div>
	</div>

</main>

{{/content}}

{{/layout}}
