{{<layout}}

{{$pageTitle}}
	Proceed to payment
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="back">
		<a href="#">&#9664; Back</a>
	</div>

	<h1 class="heading-xlarge">Make your payment</h1>

		<div class="purchase-details"> 
			<h2>Your purchase details</h2>
				<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Product:</td>
			        <td>Volcano Insurance</td>
			      </tr>
			      <tr>
			        <td>Amount:</td>
			        <td>£2,500</td>
			      </tr>
			    </tbody>
			  </table>
		</div>


	 <div class="form-group">
	 	<button class="button">Proceed to payment</button>
	 </div>



</main>

{{/content}}

{{/layout}}