{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-quarter">
			<div class="left-nav">
				<ul>
			      	<li><a href="/staff-dashboard">Dashboard</a></li>
			      	<li><a href="/staff-transaction-list">Transactions</a></li>
			      	<li><a href="/staff-upload-invoices">Upload invoices</a></li>
			      	<li><a href="#">API keys</a></li>
					<li><a href="#">Manage your team</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div>	
	    </div>
	    <div class="column-three-quarters">
	      <h1 class="heading-large underline">Transactions</h1>
	      	<div class="overview">
	      	<div class="back">
				<a href="javascript:history.back()">&#9664; Back</a>
			</div>
	      		<h2 class="heading-medium staff-subheading">
    				Transaction detail
  				</h2>
			 </div>

			<div class="column-three-quarters filter-fields">

		    <table>
		      	<tbody>
			      	<tr>
			      		<td>Reference Number:</td> 
			      		<td>DV789045</td>
			      	</tr>
			      	<tr>
						<td>Amount:</td>
						<td>£96.00</td>
					</tr>
					<tr>
						<td>Status:</td> 
						<td>Full refund given</td>
					</tr>
					<tr>
						<td>Method:</td>
						 <td>Debit card</td>
					</tr>
					<tr>
						<td>Provider:</td>
						<td>Barclays</td>
					</tr>
					<tr>
						<td>Time:</td>
						<td>30 Sep 2015 — 10:38:32</td>
					</tr>
					<tr>
						<td>Transaction ID:</td>
						 <td>20150602153345</td>
					</tr>
					<tr>
						<td>Payment ID:</td> 
						<td>42250259</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium">Events</h2>

			<table>
		      	<tbody>
			     	<tr>
			      		<td>A payment of £96.00 was refunded</td> 
			      		<td>30 Sep 2015 10:38:32</td>
			      	</tr>
			      	<tr>
						<td>A payment of £96.00 was successfully captured</td>
						<td>18 Sep 2015 18:13:06</td>
					</tr>
					<tr>
						<td>A payment of £96.00 was submitted for capture</td> 
						<td>18 Sep 2015 18:13:05</td>
					</tr>
					<tr>
						<td>A payment of £96.00 was authorised</td> 
						<td>18 Sep 2015 18:12:57</td>
					</tr>
					<tr>
						<td>A payment of £96.00 was submitted for authorisation</td> 
						<td>18 Sep 2015 18:12:56</td>
					</tr>
					<tr>
						<td>A payment of £96.00 was initiated</td> 
						<td>18 Sep 2015 18:12:34</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium"></h2>

			<details>
			    <summary><span class="summary">View logs</span></summary>
			    <div class="panel panel-border-narrow">
			      <table>
		      	<tbody>
			     	<tr>
			      		<td>200</td> 
			      		<td>POST/v1/charges/ch_16786t9823rjhjf9q9797rihkjhsoivh/refunds</td>
			      		<td>30 Sep 2015 11:15:32</td>
			      	</tr>
			      	<tr>
						<td>200</td>
						<td>POST/v1/charges/ch_16786t9823rjhjf9q9797rihkjhsoivh/refunds</td>
						<td>18 Sep 2015 18:12:38</td>
					</tr>
					<tr>
						<td>200</td> 
						<td>POST/v1/charges/</td>
						<td>18 Sep 2015 18:12:34</td>
					</tr>
					<tr>
						<td>200</td> 
						<td>POST/v1/ctokens</td>
						<td>18 Sep 2015 18:12:34</td>
					</tr>
				</tbody>
			</table>
			    </div>
  			</details>

		</div>
	</div>
</div>
</main>

{{/content}}

{{/layout}}
