{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-quarter">
			<div class="left-nav">
				<ul>
			      	<li>Dashboard</li>
			      	<li><a href="/transaction-list">All transactions</a></li>
				</ul>
			</div>	
	    </div>
	    <div class="column-three-quarters">
	      <h1 class="heading-large underline">Transactions</h1>
	      	<div class="overview">
	      		<h2 class="heading-medium staff-subheading">
    				Today’s overview
  				</h2>
			 </div>

	      	<h2 class="heading-medium">
    			Showing 100 of 45,896 transactions <span class="view-all"><a href="transaction-list">Download transactions</a></span>
  			</h2>

		      	<table>
				    <thead>
				      <tr>
				        <th scope="col">Ref. number</th>
				        <th scope="col">Amount</th>
				        <th scope="col">Status</th>
				        <th scope="col">Time</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr class='clickable-row' data-href='url://'>
				        <td>DV789045</td>
				        <td>£96.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:45</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				        <td>DV786290</td>
				        <td>£55.00</td>
				        <td>Refund Given</td>
				        <td>6 Dec 2015 – 12:44</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798687</td>
				        <td>£89.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798227</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:41</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV799654</td>
				        <td>£58.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:41</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798644</td>
				        <td>£32.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:40</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798690</td>
				        <td>£44.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:40</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV792537</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:39</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798122</td>
				        <td>£120.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:38</td>
				      </tr>
				    </tbody>
  				</table>
	</div>
</div>
</main>

{{/content}}

{{/layout}}
