{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">
	<div class="utility-nav">
		<div class="column-half">
			<p class="service-name">Your Service Name</p>
		</div>
		<div class="column-half">
			<ul>
				<li><a href="#">John Smith</a></li>
				<li><a href="#">Sign out</a></li>
			</ul>
		</div>
	</div>
	</div>

	
	<div class="grid-row">
		<div class="column-quarter">
			<div class="left-nav">
				<ul>
			      	<li><a href="/staff-dashboard">Dashboard</a></li>
			      	<li><a href="/staff-transaction-list-double-line">Transactions</a></li>
			      	<li><a href="#">API keys</a></li>
					<li><a href="#">Manage your team</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div>	
	    </div>
	    <div class="column-three-quarters">
	      <h1 class="heading-large underline">Transactions</h1>
	      	<div class="overview">
	      	<div class="back">
				<a href="javascript:history.back()">&#9664; Back</a>
			</div>
	      		<h2 class="heading-medium staff-subheading">
    				Transaction detail
  				</h2>
			 </div>

			<div class="column-three-quarters filter-fields">

		    <table>
		      	<tbody>
			      	<tr>
			      		<td>User reference number:</td> 
			      		<td>DV786340</td>
			      	</tr>
			      	<tr>
			      		<td>Email address:</td> 
			      		<td>stephenmccarthy@hotmail.com</td>
			      	</tr>
			      	<tr>
						<td>Payment amount:</td>
						<td>£70.00</td>
					</tr>
					<tr>
						<td>Status:</td> 
						<td>Successful payment</td>
					</tr>
					<tr>
						<td>Type:</td>
						 <td>Visa credit</td>
					</tr>
					<tr>
						<td>Date:</td>
						<td>10 Oct 2016 – 18:17</td>
					</tr>
					<tr>
						<td>Provider:</td>
						<td>Barclays</td>
					</tr>
					<tr>
						<td>Provider ID:</td>
						 <td>20150602153345</td>
					</tr>
					<tr>
						<td>GOV.UK payment ID:</td> 
						<td>42250259</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium">Transaction events</h2>

			<table>
		      	<tbody>
			      	<tr>
						<td>Payment successful</td>
						<td>£70.00</td>
						<td>10 Oct 2016 – 18:16</td>
					</tr>
			      	<tr>
						<td>Payment submitted</td>
						<td>£70.00</td>
						<td>10 Oct 2016 – 18:16</td>
					</tr>
					<tr>
						<td>Authorisation succeeded</td>
						<td>£70.00</td> 
						<td>10 Oct 2016 – 18:16</td>
					</tr>
					<tr>
						<td>Card details submitted for authorisation</td>
						<td>£70.00</td> 
						<td>10 Oct 2016 – 18:16</td>
					</tr>
					<tr>
						<td>User entering card details</td>
						<td>£70.00</td> 
						<td>10 Oct 2016 – 18:16</td>
					</tr>
					<tr>
						<td>Payment created</td>
						<td>£70.00</td> 
						<td>10 Oct 2016 – 18:16</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium"></h2>

			

		</div>
		<div class="column-quarter">
			<a href="#openModal"><button class="button refund-button">Refund payment</button><p class="form-hint">You can also give partial refunds</p></a>
			<div id="openModal" class="modalDialog">
				<div>
					<h2 class="heading-medium heading-medium-refund">Refund payment</h2>

					<form>
					  <div class="form-group">
					    <fieldset>

					      <legend class="visuallyhidden">How do you want to be contacted?</legend>

					      <label class="block-label block-label-fixed-width" data-target="contact-by-email" for="example-contact-by-email">
					        <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
					        <span class="heading-small">Full refund</span>
					        <br>Refund the full amount of £70.00
					      </label>

					      <label class="block-label block-label-fixed-width" data-target="contact-by-phone" for="example-contact-by-phone">
					        <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
					        <span class="heading-small">Partial refund</span>
					        <br>Refund a partial amount
					      </label>
						      <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
						        <label class="form-label" for="contact-phone">Enter refund amount</label> £
						        <input class="form-control partial-amount-input" name="contact-phone" type="text" id="contact-phone">
						      </div>
					    </fieldset>

					  </div>
					</form>

				<a href="/staff-transaction-detail-full-refund-after" title="refund" class="#"><button class="button refund-button">Refund payment</button></a>
				<a href="#close" title="Close" class="close">Cancel</a>
				</div>			
			</div>
		</div>	
	</div>
</div>
</main>

{{/content}}

{{/layout}}
