{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-quarter">
			<div class="left-nav">
				<ul>
			      	<li>Dashboard</li>
			      	<li>Transactions</li>
					<li>API Keys</li>
				</ul>
			</div>	
	    </div>
	    <div class="column-three-quarters">
	      <h1 class="heading-large underline">Dashboard</h1>
	      	<div class="overview">
	      		<h2 class="heading-medium staff-subheading">
    				Overview
  				</h2>
			 	<img class="" src="/public/images/dropdown.png">
			 </div>

	      	<img class="" src="/public/images/dashboard-boxes.png">

	      	<h2 class="heading-medium">
    			Latest transactions <span class="view-all">View all</span>
  			</h2>

		      	<table>
				    <thead>
				      <tr>
				        <th scope="col">Ref. number</th>
				        <th scope="col">Amount</th>
				        <th scope="col">Status</th>
				        <th scope="col">Time</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr class='clickable-row' data-href='url://'>
				        <td>DV789045</td>
				        <td>£96.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:45</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				        <td>DV786290</td>
				        <td>£96.00</td>
				        <td>Refund Given</td>
				        <td>6 Dec 2015 – 12:44</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				      <tr class='clickable-row' data-href='url://'>
				       <td>DV798657</td>
				        <td>£38.00</td>
				        <td>Paid</td>
				        <td>6 Dec 2015 – 12:42</td>
				      </tr>
				    </tbody>
  				</table>
	</div>
</div>
</main>

{{/content}}

{{/layout}}
