{{<layout}}

{{$pageTitle}}
	GOV.UK payment page
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

<div class="grid-row">
	<div class="utility-nav">
		<div class="column-half">
			<p class="service-name">Global Entry</p>
		</div>
		<div class="column-half">
			<ul>
				<li><a href="#">John Smith</a></li>
				<li><a href="#">Sign out</a></li>
			</ul>
		</div>
	</div>
	</div>
	
	<div class="grid-row">
		<div class="column-quarter">
			<div class="left-nav">
				<ul>
			      	<li><a href="/staff-dashboard">Dashboard</a></li>
			      	<li><a href="/staff-transaction-list-double-line-2">Transactions</a></li>
			      	<li><a href="#">API keys</a></li>
					<li><a href="#">Manage your team</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div>	
	    </div>
	    <div class="column-three-quarters">
	      <h1 class="heading-large underline">Transactions</h1>
	      	<div class="overview">
	      	<div class="back">
				<a href="/staff-transaction-list-double-line-2">&#9664; Back to transactions list</a>
			</div>
	      		<h2 class="heading-medium staff-subheading">
    				Transaction detail
  				</h2>
			 </div>

			<div class="column-three-quarters filter-fields">

		    <table>
		      	<tbody>
			      	<tr>
			      		<td>Reference number:</td> 
			      		<td>GE222555</td>
			      	</tr>
			      	<tr>
			      		<td>Email address:</td> 
			      		<td>stephenjones@hotmail.com</td>
			      	</tr>
			      	<tr>
						<td> Payment amount:</td>
						<td>£70.00</td>
					</tr>
					<tr>
						<td>Status:</td> 
						<td>Successful payment <span class="refund-label">Fully refunded on 11 Oct 2016 at 16:28</span></td>
					</tr>
					<tr>
						<td>Refunded amount:</td> 
						<td>–£70.00</td>
					</tr>
					<tr>
						<td>Type:</td>
						 <td>Visa debit</td>
					</tr>
					<tr>
						<td>Date:</td>
						<td>10 Oct 2016 – 18:22</td>
					</tr>
					<tr>
						<td>Provider:</td>
						<td>Barclays</td>
					</tr>
					<tr>
						<td>Provider ID:</td>
						 <td>20150602153345</td>
					</tr>
					<tr>
						<td>GOV.UK payment ID:</td> 
						<td>42250259</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium">Transaction events</h2>

			<table>
		      	<tbody>
		      		<tr>
						<td>Full refund successful</td>
						<td>–£70.00</td>
						<td>11 Oct 2016 – 16:28</td>
					</tr>
		      		<tr>
						<td>Full refund initiated</td>
						<td>–£70.00</td>
						<td>11 Oct 2016 – 15:01</td>
					</tr>
			      	<tr>
						<td>Payment successful</td>
						<td>£70.00</td>
						<td>10 Oct 2016 – 18:22</td>
					</tr>
			      	<tr>
						<td>Payment submitted</td>
						<td>£70.00</td>
						<td>10 Oct 2016 – 18:22</td>
					</tr>
					<tr>
						<td>Authorisation succeeded</td>
						<td>£70.00</td> 
						<td>10 Oct 2016 – 18:21</td>
					</tr>
					<tr>
						<td>Card details submitted for authorisation</td>
						<td>£70.00</td> 
						<td>10 Oct 2016 – 18:21</td>
					</tr>
					<tr>
						<td>User entering card details</td>
						<td>£70.00</td> 
						<td>10 Oct 2016 – 18:21</td>
					</tr>
					<tr>
						<td>Payment created</td>
						<td>£70.00</td> 
						<td>10 Oct 2016 – 18:21</td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium"></h2>

			

		</div>
		<!-- <div class="column-quarter">
				<div class="form-group refund-button-area">
	 					<a href="#"><button class="button refund-button">Refund payment</button></a>
	 					<p class="form-hint"> This payment has been fully refunded</p>
				</div>
			</div>	 -->
	</div>
</div>
</main>

{{/content}}

{{/layout}}
