{{<layout}}

{{$pageTitle}}
	Payment confirmed
{{/pageTitle}}

{{$content}}

<main id="content" role="main">

		<div class="payment-unsuccessful">
			<h1>There was an error with your payment</h1>
		</div>

		<div class="grid-row">
    		<div class="column-two-thirds">
			<h2 class="heading-large">What went wrong</h2>
			<p>We will email you a receipt shortly.</p>
			<table>
			    <thead>
			      <!-- <tr>
			        <th colspan="2">Your purchase details</th>
			      </tr> -->
			    </thead>
			    <tbody>
			      <tr>
			        <td>Product:</td>
			        <td>{{ flow }}</td>
			      </tr>
			      <tr>
			        <td>Amount to pay:</td>
			        <td>{{ amount }}</td>
			      </tr>
			    </tbody>

			  </table>
		</div>
		</div>


	{{#return_url}}
	<div>
		<div class="form-group">
	 		<a href="{{return_url}}"><button class="button">Return to {{name}}</button></a>
	 	</div>
	</div>
	{{/return_url}}



	 <div class="back">
		<a href="#">Go to GOV.UK homepage</a>
	</div>



</main>

{{/content}}

{{/layout}}
